@font-face {
    font-family:eduz;
    src: url('/font/edosz.ttf');
}
.eduz{
    font-family: eduz !important;
}
.top-section{
    overflow: hidden;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url('/asset/majima_back.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center
}
.navbar{
    background: transparent;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.navbar-item > a{
    color: #fff !important;
}
.navbar.scroll{
    background-color: #fff;
    color: #000;
}
.navbar.scroll  .navbar-item > a{
    color: #000 !important;
}
.navbar-menu.is-active  .navbar-item > a{
    color: #000 !important;
}